body {
    background-color: rgb(245, 245, 245);
    margin: 2px;
}
h1 {
    text-align: center;
    height: 100px;
    font-size: 70px;
}

.ha-img {
  height: 200px;
  width: 200px;
}

.chris {
  background-color: rgb(49, 49, 49);
  width: 100%;
  color: white;
  font-family: "Noto Sans SC", sans-serif;
  font-size: 50px;
  float: right;
  text-align: center;
  border-radius: 20px;
  position: relative;
}

.chris p {
  position: relative;
  left: 75px;
  width: 90%;
}
#chris-pic {
  float: left;
  width: 12%;
  position: relative;
  left: 15px;
  top: 20px;
}

.ha {
    clear: both;
    font-size: 50px;
    text-align: center;
    background-color: blanchedalmond;
    border-radius: 20px;
}